@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
    
body {
    font-family: "Quicksand", serif;
    
    background-color: #F7F7F7;
}

/* Navbar Start */
.navbar {
    margin-left: 141px;
    margin-right: 141px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.logo-image {
    width: 46px;
    height: 46px;
}

.logo-name {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-links li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.h {
    color: #FEA301;
}

.a1 {
    color: #01ACFD;
}

.f {
    color: #05D4DF;
}

.a2 {
    color: #5D58EF;
}

.contact-btn {
    padding: 10px 60px;
    background-color: #FEA301;
    color: white;
    border: none;
    border-radius: 12px;
}

.mobile-hr {
    display: none;
}

/* Mobile Menu Bar */
.menu-bar {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-bar div {
    width: 25px;
    height: 3px;
    background-color: #333;
}

/* Navbar Done */

/* Banner Section Start */
.banner {
    margin-left: 141px;
    margin-right: 141px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.banner-content {
    max-width: 50%;
}

.h1-banner {
    font-size: 36px;
    margin-bottom: 20px;
}

.highlight-orange {
    color: #FEA301;
}

.highlight-blue {
    color: #01ACFD;
}

.p-banner {
    margin-bottom: 20px;
    color: #111111;
}

.enroll-btn {
    padding: 10px 47px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: bold;
}

.banner-image {
    width: 468.61px;
    height: 575px;
}

/* Banner Section Done */


/* Marquee Section Start */
.marquee {
    background-color: orange;
    color: white;
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
  }
  
  #marquee-show {
    position: relative;
  }

/* Marquee Section Done */


/* Standard Curriculum Section Start */

.curriculum {
    text-align: center;
    padding: 60px 20px;
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  
  .curriculum h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  

  .container {
    margin-top: 60px;
    display: flex;
    gap: 20px;
    justify-content: center;

}

.kinder {
    background: linear-gradient(to bottom, #DEF5FF 0%, #FFFFFF 50%);
    border: 2px solid #DEF5FF;
    border-radius: 10px;
    padding: 54px 20px;
    text-align: center;
    width: 250px;
}

.Elementary{
    background: linear-gradient(to bottom, #FFF4DC 0%, #FFFFFF 50%);
    border: 2px solid #FFF4DC; 
    border-radius: 10px;
    padding: 54px 20px;
    text-align: center;
    width: 250px;
}
.Middle {
    background: linear-gradient(to bottom, #EEE1FF 0%, #FFFFFF 50%);
    border: 2px solid #F2E8FF;
    border-radius: 10px;
    padding: 54px 20px;
    text-align: center;
    width: 250px;
}


.card h3 {
    margin: 15px 0;
}

.card p {
    color: #808080;
    font-weight: 400; 
}

.read-more1 {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #64C8FF;
    font-weight: 600;
}
.read-more2 {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #F0AA00;
    font-weight: 600;
}
.read-more3 {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #8700FF;
    font-weight: 600;
}

  .arrows {
    margin-top: 70px;
  }
  
  .arrow-btn {
    background-color: #FEA301;
    color: white;
    border: none;
    font-weight: bold;
    padding: 17px 22px;
    border-radius: 50%;
    margin: 0 10px;
    font-size: 24px;
  }
  
  
/*  Standard Curriculum Section Done */

/* Footer Start */
footer {
    background-color: #01ACFD; 
    color: white;
    padding: 40px 141px;
   
}

.footer-container {
    display: flex;
   justify-content: space-around;
}

.flex{
    display: flex;
    gap: 2px;
}


.footer-column {
    flex: 1; 
    min-width: 250px; 
    margin: 10px; 
}

.nav-column{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.footer-links a{
    color: white;
    text-decoration: none;
}

.footer-links{
    justify-content: left;
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.footer-logo {
    width: 60px;
    height: 60px;
}

.footer-h2{
    margin-top: -1px;
}

.social-icons {
    display: flex; 
    gap: 10px; 
}

.social-icons img {
    width: 40px; 
    height: auto;
}
/* Footer Done */

/* Our Stories Start */

.our-stories-bg{
    background: url('../assets/bg.png'), linear-gradient(to top, #FEA301 0%, #FFFFFF 100%); 
    background-size: cover;
    padding: 60px 141px;
}

.story-h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
}

.cards-section {
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 20px;
  }

  .main-card {
    background: white;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
  }
  
  .main-card img {
    width: 100%;
    height: auto;
  }
  
  .main-card .content {
    padding: 0 38px 68px;
  }
  
 .main-card-date {
    background: #3CD8E8; 
    color: white;
    padding: 14px 19px;
    border-radius: 47px;
    display: inline-block;
    margin: 4px; 
    position: relative;
    top: -30px; 
    left: 10px; 
    z-index: 1; 
  }
  
  .content h4{
    margin: -20px 0;
    margin-bottom: 2px;
    padding: 0 6px;
    font-size: 15px;
    font-weight: bold;
    
  }

  /* Grid Cards */

  .date-1{
    background: #95B226; 
    color: white;
    padding: 9px 19px;
    border-radius: 47px;
    display: inline-block;
    margin: 7px; 
    position: relative;
    top: -30px; 
    left: 10px; 
    z-index: 1; 
  }
  .date-2{
    background: #5D58F0; 
    color: white;
    padding: 9px 19px;
    border-radius: 47px;
    display: inline-block;
    margin: 7px; 
    position: relative;
    top: -30px; 
    left: 10px; 
    z-index: 1; 
  }

  .grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .grid-card {
    background: white;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
  }
  
  .grid-card img {
    width: 100%;
    height: auto;
  }
  
  .grid-card .content {
    padding: 0 10px 10px;
    
  }
 
  .view-all {
    margin: 40px auto; 
    margin-top: 80px;
    padding: 10px 61px;
    background-color: black;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    display: block; 
    text-align: center;
}
/* Our Stories Done */

/* Responsive Design */
@media (max-width: 768px) {

   
    #marquee-show {
        position: relative;
        margin-left: -27px;
        margin-right: -27px;
    }
    /* Navbar start */
    .nav-links,
    .contact-btn {
        display: none;
    }

    .navbar , 
    .banner{
        margin-left: 27px;
        margin-right: 27px;
    }

    .logo-name {
        display: none;
    }

    .menu-bar {
        display: flex;
    }

    .mobile-hr {
        display: block;
        border: 0.5px solid #FEA301;
        margin: 10px 0;
    }

    /* Navbar Done */

    /* Banner Section Start */
    .banner {
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner-content {
        max-width: 100%;
    }

    .banner-image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .h1-banner {
        font-size: 32px;
    }
    /* Banner Section Done */

    /* Standard Curriculum Start */
    .container {
        flex-direction: column;
        align-items: center;
      }
    
      .kinder,
      .Elementary,
      .Middle {
        width: 90%;
      }
      .arrows{
        display: none;
      }
      /* Standard Curriculum Done */

/* Footer Section Start */
      footer {
        padding: 20px;
    }

    .footer-container {
        flex-direction: column;
    }
    .nav-column{
        display: flex;
        flex-direction: column;
       align-items: self-start;
    }
/* Footer Section Done*/
   
.cards-section {
    grid-template-columns: 2fr;
  }


  .main-card  {
    display: none;
  }

  .our-stories-bg{
    padding: 60px 16px;
}

.date-1{
    padding: 5px 12px;
    border-radius: 47px;
    display: inline-block;
    margin: 12px; 
    font-size: 10px;
  }
  .date-2{
    padding: 5px 12px;
    border-radius: 47px;
    display: inline-block;
    margin: 12px; 
    font-size: 10px;
  }

  .content h4{
    margin: -20px 0;
    margin-bottom: 2px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: bold;

}
    
}
